.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.welcome-message p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
}